<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servidor</display-name>
    <servlet-name>Servidor</servlet-name>
    <servlet-class>Servidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servidor</servlet-name>
    <url-pattern>/Servidor</url-pattern>
  </servlet-mapping>
  <display-name>ProyectoWebPsico</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Controlador.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaoUser</display-name>
    <servlet-name>DaoUser</servlet-name>
    <servlet-class>Controlador.DaoUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaoUser</servlet-name>
    <url-pattern>/DaoUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saludo</display-name>
    <servlet-name>Saludo</servlet-name>
    <servlet-class>Controlador.Saludo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saludo</servlet-name>
    <url-pattern>/Saludo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prueba1</display-name>
    <servlet-name>Prueba1</servlet-name>
    <servlet-class>Controlador.Prueba1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prueba1</servlet-name>
    <url-pattern>/Prueba1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registro</display-name>
    <servlet-name>Registro</servlet-name>
    <servlet-class>Controlador.Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificarperfil</display-name>
    <servlet-name>modificarperfil</servlet-name>
    <servlet-class>Controlador.modificarperfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarperfil</servlet-name>
    <url-pattern>/modificarperfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionusuarios</display-name>
    <servlet-name>gestionusuarios</servlet-name>
    <servlet-class>Controlador.gestionusuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionusuarios</servlet-name>
    <url-pattern>/gestionusuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usuariologueado</display-name>
    <servlet-name>usuariologueado</servlet-name>
    <servlet-class>Controlador.usuariologueado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usuariologueado</servlet-name>
    <url-pattern>/usuariologueado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionclientes</display-name>
    <servlet-name>gestionclientes</servlet-name>
    <servlet-class>Controlador.gestionclientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionclientes</servlet-name>
    <url-pattern>/gestionclientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gestioncliente</display-name>
    <servlet-name>Gestioncliente</servlet-name>
    <servlet-class>Controlador.Gestioncliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestioncliente</servlet-name>
    <url-pattern>/Gestioncliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gestionpsicologo</display-name>
    <servlet-name>Gestionpsicologo</servlet-name>
    <servlet-class>Controlador.Gestionpsicologo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestionpsicologo</servlet-name>
    <url-pattern>/Gestionpsicologo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listacitas</display-name>
    <servlet-name>Listacitas</servlet-name>
    <servlet-class>Controlador.Listacitas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listacitas</servlet-name>
    <url-pattern>/Listacitas</url-pattern>
  </servlet-mapping>
</web-app>